.MoviesDetails {
  width: 130rem;
  background-color: #232323;
  margin: 0 auto;
  padding: 40px;
}
.mainErrorAndFilterContienr {
}
.MovieContainer {
  min-height: 50vh;

  position: relative;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 30px;

  /* gap: 10px;
  flex-wrap: wrap;
  justify-content: space-between; */
}
.centerTheText {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.errorFailure {
  color: #ffffff;
  font-size: 24px;
}
.genersSelect button {
  color: #ffffff;
  display: flex;
  font-size: 16px;
  gap: 30px;
  padding: 20px;
  text-transform: uppercase;
  list-style-type: none;
  cursor: pointer;
  padding-bottom: 5px;
  background-color: transparent;
}
.genersSelect {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.MoviesGenercSelector {
  border-bottom: 2px solid #080707;
  margin-bottom: 30px;
}

.active {
  border-bottom: 3px solid #0798ffaa;
}
