.MovieItemCard {
  width: 280px;
  cursor: pointer;
}

.MovieItemCard img {
  width: 100%;
  height: 300px;
  margin-bottom: 10px;
}
.MovieDetails {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}
.movieTitle {
  width: 200px;
  font-size: 18px;
}
.movieYear {
  font-size: 20px;
  padding: 5px;
  background: none;
  cursor: pointer;
  border-radius: 5px;
}

.movieGenercDetails {
  margin-top: 10px;
  color: #ffffff;
  font-size: 16px;
}
